HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

ethereum/eth_geth/data
ethereum/sftp/keystore
platform/wallets
platform/microservices/trust-certification-system-core-bc/src/main/java/generated
platform/.env
ipfs_cluster/data
platform/microservices/trust-certification-system-gateway-api/resources/client_secret.json
platform/microservices/trust-certification-system-testing
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/