[submodule "platform/microservices/trust-certification-system-core/src/main/resources/contracts"]
	path = platform/microservices/trust-certification-system-core/src/main/resources/contracts
	url = https://github.com/sergio11/trust_certification_system_smart_contracts.git
