[submodule "platform/microservices/trust-certification-system-core-bc/src/main/resources/contracts"]
	path = platform/microservices/trust-certification-system-core-bc/src/main/resources/contracts
	url = https://github.com/sergio11/trust_certification_system_ethereum_dapp.git
	branch = main
