[submodule "platform/microservices/blockchain-gateway-common/src/main/resources/contracts"]
	path = platform/microservices/blockchain-gateway-common/src/main/resources/contracts
	url = https://github.com/sergio11/trust_certification_system_smart_contracts.git
